@import url('https://fonts.googleapis.com/css2?family=Carlito&family=Lato:wght@300&display=swap');

/* global styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #6f189e;
    color: white;
    text-align: center;
}

/* game settings page */

#title-homepage {
    font-size: 2.5rem;
    line-height: 80px;
    color: #dbca72;
    margin: 32px 0;
}

#menu-settings {
    max-width: 960px;
    background-color: white;
    margin: 32px auto;
    color: black;
    text-align: left;
    padding: 32px;
}