@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&display=swap');

/* global styles */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7D3B27;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Playfair Display', serif;
    color: white;
}

h1 {
    font-style: italic;
}

/* game settings page */

#title-homepage {
    font-size: 2.5rem;
    line-height: 80px;
    margin: 32px 0;
}

#menu-settings {
    max-width: 960px;
    background-color: #A66333;
    margin: 32px auto;
    text-align: left;
    font-size: 2rem;
    padding: 32px;
}

/* main game */

#game {
    display: grid;
    grid-template-columns: 1fr 100vh;
    grid-template-rows: auto;
    text-align: left;
}

/* user interface */

.clickable:hover {
    cursor: pointer;
    color: red;
}

#ui-area {
    background-color: #7D3B27;
    color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
}

#ui-area h3 {
    font-size: 1.5em;
}

/* player turn display */
#player-turn {
    padding: 16px;
    grid-column-start: 1;
    grid-column-end: 3;
}

#player1-ui,
#player2-ui {
    padding: 16px;
    border: 1px solid black;
    color: black;
    background-color: #A66333;
}

#player1-ui span {
    float: right;
    color: white;
}

#player2-ui span {
    float: right;
    color: black;
}

#ui-area>.player-active {
    color: white;
    border: 1px solid white;
}

.piece-dead {
    width: 64px;
    height: 64px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

/* announcements */

#announcements {
    padding: 16px;
    overflow: hidden;
    /* hides any text that escapes the div's bounds */
    position: relative;
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 1px solid black;
}

#announcements>div {
    position: absolute;
    bottom: 16px;
    font-size: 1.8rem;
}

/* game options for restarting and returning to the main menu */

#ui-area>button, #ui-area a {
    display: inline-block;
    margin: 16px auto;
    padding: 16px;
    border: 1px solid black;
    background-color: #A66333;
    color: white;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-size: 1.4rem;
}

/* chess board */

#chess-board {
    background-color: rgb(80, 24, 24);
    padding: 16px;
    /* board takes up 100% of the available space minus the padding */
    /* link to where i learned about calc(): https: //developer.mozilla.org/en-US/docs/Web/CSS/calc */
    height: calc(100% - 32px);
    display: grid;

    /* creates the grid cells for each tile */
    /* link to where i learned about repeat(): https: //css-tricks.com/snippets/css/complete-guide-grid/ */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.tile {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.tile-light {
    background-color: rgb(241, 192, 126);
}

.tile-dark {
    background-color: rgb(169, 69, 17);
}

#tile-selected {
    height: 100%;
    background-color: rgba(255, 128, 255, 0.5);
}

.possible-move {
    height: 100%;
    background: url("../images/possible-move.png") no-repeat center center;
    background-size: cover;
}

/* chess pieces */

.chess-piece {
    width: 100%;
    height: 100%;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}