@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100&display=swap');

/* global styles */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #501818;
    text-align: center;
    font-size: 1.4rem;
    font-family: 'Roboto Slab', serif;
    color: white;
}

/* removing the default blue color and underline for links */
a {
    color: white;
    text-decoration: none;
}

/* adding a golden color to links when hovered over */
a:hover {
    color: #dbca72;
}

/* most interactables will change the mouse cursor when hovered over */
.clickable:hover {
    cursor: pointer;
}

/* game settings page */
#title-homepage {
    font-size: 2rem;
    line-height: 80px;
    margin: 32px 0;
}

/* adding a border around the settings element for small screens */
#settings-container {
    padding: 0 32px;
}

/* making the title icon larger */
#title-homepage i {
    font-size: 2em;
}

/* the div that contains all the settings */
#menu-settings {
    max-width: 720px;
    border: 1px solid black;
    background-color: #76391F;
    margin: 32px auto;
    text-align: left;
    font-size: 2rem;
    padding: 32px;
}

#settings-dynamic>div {
    padding: 16px 0;
}

/* making text in the inputs the same size ans style as everything else */
input,
select,
option {
    font-size: 1.4rem;
    font-family: 'Roboto Slab', serif;
    font-weight: bold;
}

/* setting the inputs to float to the right */
.float-right {
    float: right;
}

/* for text to be aligned to the right */
.text-right {
    text-align: right;
}

/* making the text inputs take up half of the settings div */
input[type="text"], select {
    width: 50%;
}

input[type="number"] {
    width: 64px;
}

/* small text used for note about what player starts first */
.small-text {
    font-size: 0.6em;
}

/* for indenting the note as well as the items in the details element */
.indented {
    margin-left: 32px;
}

/* increasing the space between the castling and en passant checkboxes and the link to their wiki pages */
#advanced-settings a {
    margin-left: 8px;
    /* making the style different to differentiate it between normal text and links */
    font-style: italic;
}

/* the button that takes the user to the game */
#to-game>a {
    display: inline-block;
    margin: 16px auto;
    color: white;
    text-decoration: none;
    padding: 8px;
    border: 1px solid black;
    background-color: #501818;
}

#menu-settings>#to-game {
    text-align: center;
}

/* main game */
#game {
    display: grid;
    grid-template-columns: 1fr 100vh;
    grid-template-rows: auto;
    text-align: left;
}

/* user interface */
#ui-area {
    background-color: #501818;
    border-right: 1px solid black;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr auto;
}

/* for the player turn heading on top of the ui */
#ui-area h3 {
    font-size: 1.5em;
}

/* heading showing the player whose turn it is */
#player-turn {
    padding: 16px;
    grid-column-start: 1;
    grid-column-end: 3;
}

/* each of the player's uis */
#player1-ui,
#player2-ui {
    padding: 16px;
    border: 1px solid black;
    background-color: #76391F;
    display: grid;
    grid-template-columns: 1fr;
    /* each element in the grid will take up the space it needs,
    and the graveyard div will take the remaining space */
    grid-template-rows: auto auto 1fr auto;
}

/* removing the right border of player 2 ui because the ui itself has a border */
#ui-area>#player2-ui {
    border-right: none;
}

/* The chess icons representing the player color */
#player1-ui span {
    float: right;
    color: white;
}

#player2-ui span {
    float: right;
    color: black;
}

/* highlighting the player ui that is their turn */
#ui-area>.player-active {
    border: 1px solid white;
}

/* the icons of eliminated pieces */
.piece-dead {
    width: 64px;
    height: 64px;
    display: inline-block;
    background-size: cover;
}

/* announcements */
#announcements {
    /* hiding any announcements that escape the div */
    overflow: hidden;
    position: relative;
    height: 100%;
}

#announce-container {
    padding: 16px;
    grid-column-start: 1;
    grid-column-end: 3;
    border-bottom: 1px solid black;
}

#announcements>div {
    position: absolute;
    bottom: 0;
    font-size: 1.8rem;
}

/* game options for restarting and returning to the main menu */
#ui-area>button,
#ui-area a {
    display: inline-block;
    margin: 16px auto;
    padding: 16px;
    border: 1px solid black;
    background-color: #76391F;
    color: white;
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    font-size: 1.4rem;
}

/* chess board */
#chess-board {
    background-color: #3E110B;
    padding: 16px;
    /* board takes up 100% of the available space minus the padding */
    /* link to where i learned about calc(): https: //developer.mozilla.org/en-US/docs/Web/CSS/calc */
    height: calc(100% - 32px);
    display: grid;

    /* creates the grid cells for each tile */
    /* link to where i learned about repeat(): https: //css-tricks.com/snippets/css/complete-guide-grid/ */
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.tile {
    width: 100%;
    height: 100%;
    border: 2px solid black;
}

.tile-light {
    background-color: rgb(241, 192, 126);
}

.tile-dark {
    background-color: rgb(169, 69, 17);
}

#tile-selected {
    height: 100%;
    background-color: rgba(255, 128, 255, 0.5);
}

/* visually displaying the possible moves a selected piece can take */
.possible-move {
    height: 100%;
    background-image: url("../images/move-icons/possible-move.png");
    background-size: cover;
}

/* the move will display a red circle if there is a piece already on the tile */
.chess-piece>.possible-move {
    background-image: url("../images/move-icons/possible-elimination.png");
}

/* displaying the arrow swap icon for castling moves */
.chess-piece>.castling {
    background-image: url("../images/move-icons/possible-castle.png");
}

/* chess pieces */
.chess-piece {
    width: 100%;
    height: 100%;
    position: relative;
    background-size: cover;
}

/* banner that will display over the chess board */
#banner {
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background-color: #501818;
    position: relative;
    text-align: center;
}

#banner>h1 {
    font-size: 5rem;
}

/* setting specific values of the banner if it is a notification or for pawn promotion */
.notify {
    height: 400px;
    bottom: calc(50% + 200px);
}

/* pawn promotion will include a grid underneath so it will need more space */
.pawn-pick {
    height: 500px;
    bottom: calc(50% + 250px);
}

.notify>h1 {
    margin: 96px 0 48px 0;
}

.pawn-pick>h1 {
    margin: 64px 0 32px 0;
}

/* the promotion icons grid within the banner */
#promotion-icons {
    display: grid;
    /*
        meanings of values in grid-template-columns
        128px: cell containing a promotion icon
        1fr: gap in between promotion icons
        2fr: gap on both edges of grid
    */
    grid-template-columns: 2fr 128px 1fr 128px 1fr 128px 1fr 128px 2fr;
    grid-template-rows: 128px;
    margin-top: 64px;
}

#promotion-icons>div {
    background-size: cover;
    border: 2px solid black;
    background-color: rgb(241, 192, 126);
}

/* setting each of the icons' positions on the grid */
#promote-knight {
    grid-column-start: 2;
    grid-column-end: 3;
}

#promote-bishop {
    grid-column-start: 4;
    grid-column-end: 5;
}

#promote-rook {
    grid-column-start: 6;
    grid-column-end: 7;
}

#promote-queen {
    grid-column-start: 8;
    grid-column-end: 9;
}